@import "base/fonts";
@import "utils/all";
@import "components/all";

body{
  padding: 1px;
  background-color: grey;
  font-family: 'Antonio', sans-serif;
  color: $white;
}

div#main-img{
  height: 400px;
}