//COLORS
$white: rgb(255, 255, 255);
$darkblue: rgb(7, 7, 36);
$slightlydarkblue: rgb(56, 56, 79);
$grey: rgb(131, 131, 145);
$lightblue: rgb(65, 158, 187);
$darkyellow: rgb(237, 162, 73);
$purple: rgb(109, 46, 213);
$lightred: rgb(209, 76, 50);
$red: rgb(216, 58, 52);
$orange: rgb(205, 81, 32);
$skyblue: rgb(30, 193, 162);
$blue: rgb(45, 104, 240);
$lowlightblue: rgba(65, 158, 187, 0.2);
$lowblue: rgba(45, 104, 240, 0.2);

//SCREEN VARIABLES
$tablet: 1025px;
$phone: 376px;
