//DESKTOP
@media (min-width: $tablet) {
  .hamburger-icon{
    display: none;
    & + ol {
      display: flex !important;
    }
  }

  nav{
    border-bottom: 1px solid $lowblue;
    display: flex;
    justify-content: space-between;
    height: 100px;
    & > ol {
      display: flex;
      justify-content: space-around;
      width: 50%;
      height: 100px;
      margin: 0px;
      & > li{
        margin: 0px 5px 0px 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  1fr 1fr 1fr;
        & > span{
          margin: auto;
          &:hover + div{
            background-color: $lightblue;
            transform: scaleX(1);
            transition-duration: 300ms;
            transition-property: transform;
          }
        }
        & > div{
          transform: scaleX(0);
          transition-duration: 200ms;
          height: 2px;
          width: 100%;
          grid-row-start: 1;
          border-radius: 10px;
        }
      }
    }
    & > h2{
      margin: 20px 30px 20px 30px;
    }
  }
}

//TABLET
@media (min-width: $phone) and (max-width: $tablet) {
  .hamburger-icon{
    display: none;
    & + ol {
      display: flex !important;
    }
  }

  nav{
    border-bottom: 1px solid $lowblue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    & > ol {
      display: flex;
      justify-content: space-around;
      margin: 0px;
      flex-wrap: wrap;
      & > li{
        margin: 0px 10px 0px 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  1fr 1fr 1fr;
        & > span{
          margin: auto;
        }
        & > div{
          height: 2px;
          width: 100%;
          grid-row-start: 1;
          border-radius: 10px;
        }
      }
    }
    & > h2{
      margin: 20px 30px 20px 30px;
    }
  }
}
//PHONE
@media(max-width: $phone) {
  .hamburger-icon {
    display: block;
    width: 26px;
    & + ol {
      display: none;
      grid-row: 3;
      grid-column: 1 / 2;
    }
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-row: repeat(7, 1fr);
    & > .hamburger-icon{
      margin: auto 70% auto;
      grid-row: 1;
      grid-column: 2;
    }
  }

.nav{
  & > li {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    border-bottom: 1px solid $lowblue;
    & > div{
      margin: 22px;
      grid-row: 1;
      grid-column: 1;
      height: 20px;
      width: 20px;
      border-radius: 20px;
      background-color: red;
    }
    & > span{
      grid-column: 2;
      margin: 20px;
      font-size: 16px;
    }
  }
}

}

