//PHONE
@media (max-width: $phone) {
  .hamburger-icon {
    display: block;
    width: 26px;
    & + ol {
      display: none;
      grid-row: 3;
      grid-column: 1 / 2;
    }
  }
  .icon-chevron{
    display: block;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-row: repeat(7, 1fr);
    & > .top-nav{
      grid-column: 1 / 3;
      grid-row: 1;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid $lowblue;
      & > .hamburger-icon{
        width: 24px;
        margin: auto 20px auto;
      }
      & > h2 {
        margin: auto 0px auto 20px;
      }
    }
    & > .nav{
      grid-column: span 2;
      display: none;
      & > li {
        display: grid;
        grid-template-columns: 50px 140px 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        border-bottom: 2px solid $lowblue;
        margin: auto;
        width: 85%;
        &:active{
          background-color: rgba(150, 150, 150, 0.4);
        }
        & > div{
          margin: 22px auto 22px 0px;
          grid-row: 1;
          grid-column: 1;
          height: 20px;
          width: 20px;
          border-radius: 20px;
        }
        & > span{
          grid-column: 2;
          margin: 20px auto 20px 0px;
          font-size: 16px;
        }
        & > img {
          grid-column: 6;
          grid-row: 1;
          margin: auto;
        }
      }
    }
  }

  #mercury > div{
    background-color: $mercury;
  }
  #venus > div{
    background-color: $venus;
  }
  #earth > div{
    background-color: $earth;
  }
  #mars > div{
    background-color: $mars;
  }
  #jupiter > div{
    background-color: $jupiter;
  }
  #saturn > div{
    background-color: $saturn;
  }
  #uranus > div{
    background-color: $uranus;
  }
  #neptune > div{
    background-color: $neptune;
  }
}


//TABLET
@media (min-width: $phone) and (max-width: $tablet) {
  .hamburger-icon{
    display: none;
    & + ol {
      display: flex !important;
    }
  }
  .icon-chevron{
    display: none;
  }

  nav{
    border-bottom: 1px solid $lowblue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    & > ol {
      display: flex;
      justify-content: space-around;
      margin: 0px;
      flex-wrap: wrap;
      & > li{
        margin: 0px 10px 0px 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  1fr 1fr 1fr;
        & > span{
          margin: auto;
        }
        & > div{
          height: 2px;
          width: 100%;
          grid-row-start: 1;
          border-radius: 10px;
        }
      }
    }
    & > top-nav{
      margin: 20px 30px 20px 30px;
      & > h2{
        margin: auto;
      }
    }
  }
}



//DESKTOP
@media (min-width: $tablet) {
  .hamburger-icon{
    display: none;
    & + ol {
      display: flex !important;
    }
  }
  .icon-chevron{
    display: none;
  }

  nav{
    border-bottom: 1px solid $lowblue;
    display: flex;
    justify-content: space-between;
    height: 100px;
    & > ol {
      display: flex;
      justify-content: space-around;
      width: 50%;
      height: 100px;
      margin: 0px;
      & > li{
        font-weight: bold;
        margin: 0px 5px 0px 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  1fr 1fr 1fr;
        font-size: 12px;
        & > span{
          margin: auto;
          &:hover + div{
            background-color: $lightblue;
            transform: scaleX(1);
            transition-duration: 300ms;
            transition-property: transform;
          }
        }
        & > div{
          transform: scaleX(0);
          transition-duration: 200ms;
          height: 2px;
          width: 100%;
          grid-row-start: 1;
          border-radius: 10px;
        }
      }
    }
    & > .top-nav{
      margin: 20px 30px 20px 30px;
      & > h2{
        margin: auto;
      }
    }
  }
}