//DESKTOP
@media (min-width: $tablet) {

  .main-img{
    background-image: url("../../assets/planet-earth.svg");
    background-repeat: no-repeat;
    & > img{
      display: none;
    }
  }

  .mid-content{
    margin:  50px 100px 50px 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    & > .main-img{
      grid-column: 1 / 4;
      grid-row: 1 / 3;
      width: 100%;
      height: 100%;
      background-position: 50% 25%;
    }
    & > .side-description{
      grid-column: 4 / 6;
      grid-row: 1 / 2;
      & > .description-text{
        margin-right: 100px;
        font-weight: normal;
      }
      & > .wikipedia-link{
        color: rgba(355, 355, 355, 0.7);
        & > a{
          color: rgba(355, 355, 355, 0.7);
          &:hover{
            color: white;
          }
        }
        & > img{
          position: relative;
          top: 2px;
          left: 5px;
        }
      }
    }
    & > .choice-view{
      grid-column: 4 / 6;
      grid-row: 2 / 3;
      width: 350px;
    }
    & > .choice-view{
      font-weight: bold;
      & > li{
        font-size: 12px;
        margin: 10px 0px 10px 0px;
        height: 48px;
      }
    }
  }

  li.btn-choice{
    display: flex;
    & > div{
      margin: auto 0px auto 30px;
    }
  }

}