//GENERAL
.main-img{
  background-image: url("../../assets/planet-earth.svg");
  background-repeat: no-repeat;
  & > img{
    display: none;
  }
}

.wikipedia-link{
  color: rgba(355, 355, 355, 0.7);
  & > a{
    color: rgba(355, 355, 355, 0.7);
    &:hover{
      color: white;
    }
  }
}

.main-img{
  width: 100%;
  height: 100%;
  background-position: 50% 25%;
  & > img{
    width: 200px;
    margin: auto;
    margin-top: 320px;
  }
}

li.btn-choice{
  display: flex;
  & > div{
    margin: auto 0px auto 30px;
  }
}
.overview{
  background-color: rgba(109, 46, 213, 1);
}

//DESKTOP
@media (min-width: $tablet) {

  .internal, .geology{
    display: inline;
  }
  .active:hover{
    background-color: rgba(255, 255, 255, 0.1)!important;
  }
  .mid-content{
    margin:  50px 100px 0px 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    & > .main-img{
      grid-column: 1 / 4;
      grid-row: 1 / 3;
      background-size: 500px;
      & > img{
        position: relative;
        top: 2px;
        left: 5px;
      }
    }
    & > .side-description{
      grid-column: 4 / 6;
      grid-row: 1 / 2;
      & > .description-text{
        height: 150px;
        margin-right: 100px;
        font-weight: normal;
        @media(max-width: 1400px){
          height: 200px;
          margin-right: 50px;
        }
      }
    }
    & > .choice-view{
      grid-column: 4 / 6;
      grid-row: 2 / 3;
    }
  }
}

//TABLET
@media (min-width: $phone) and (max-width: $tablet){
  .internal, .geology{
    display: inline;
  }
  .active:hover{
    background-color: rgba(255, 255, 255, 0.1)!important;
  }
  .mid-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-templates-rows: 1fr 1fr;
    & > .main-img{
      margin-top: 40px;
      height: 500px;
      width: 100%;
      background-size: 334px;
      grid-row: 1;
      grid-column: 1 / 3;
      & > img{
        width: 110px;
          position: relative;
          top: -60px;
          left: 5px;
      }
    }
    & > .side-description{
      margin-left: 40px;
      margin-right: 10px;
      grid-row:  2;
      & > h1{
        margin: 0px 0px 30px;
        font-size: 64px;
      }
      & > .description-text{
        font-size: 12px;
      }
    }
    & > .choice-view{
      grid-row: 2;
      margin: 80px auto 0px auto;
      & > li{
        margin-top: 20px;
      }
    }
  }
}

//PHONE
@media (max-width: $phone){

  .internal, .geology{
    display: none;
  }
  .wikipedia-link{
    margin-top: 30px;
  }
  .mid-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 235px 1fr;

    & > .choice-view {
      border-bottom: 1px solid $lowblue;
      height: 60px;
      display: flex;
      margin: 0px;
      grid-column: 1;
      grid-row: 1 / 2;
      justify-content: space-around;
      & > li{
        color: rgba(255, 255, 255, 0.8)
      }
      & > .overview{
        border-bottom: 4px solid $purple;
        color: white;
      }
      & > li.btn-choice{
        height: 94%;
        background-color: rgba(0, 0, 0, 0);
        & > div{
          margin: auto;
        }
        & > .number-choice {
          display: none;
        }
      }
    }
    & > .main-img{
      grid-row: 2 / 3;
      background-size: 166px;
      margin-top: 20px;
      & > img{
        width: 80px;
        position: relative;
        top: -200px;
        left: 5px;
      }
    }
    & > .side-description{
      grid-row: 3 / 4;
      text-align: center;
      margin: 0px 15px 0px 15px;
      & > h1{
        font-size: 65px;
        font-weight: normal;
      }
    }
  }
}